<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Login</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/menu.js}"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/menu.css"
	th:href="@{/css/menu.css}">

</head>
<body>
	<div class="modal-dialog text-center">
		<div class="col-sm-8 main-section">
			<div class="modal-content">
				<div class="col-12 search-img">
					<img src="static/img/noun_seach_3832280.png"
						th:src="@{/img/noun_seach_3832280.png}" />
				</div>
				<form class="col-12" th:action="@{/find-statements}" method="get">
					<div class="form-group" id="accountId-group">
						<input type="text" class="form-control" placeholder="Account Id"
							th:value="${accountId}" name="accountId" />
					</div>
					<div class="form-group" id="fromDate-group">
						<input placeholder="From Date" pattern="dd.MM.yyyy"
							th:value="${fromDate}" class="form-control" type="date"
							id="fromDate" name="fromDate" />
					</div>
					<div class="form-group" id="toDate-group">
						<input placeholder="To Date" pattern="dd.MM.yyyy"
							class="form-control" type="date" th:value="${toDate}" id="toDate"
							name="toDate" />
					</div>
					<div class="form-group" id="password-group">
						<input type="text" class="form-control" th:value="${fromAmount}" pattern="^([-+,0-9.]+)"
							placeholder="From Amount" name="fromAmount" />
					</div>
					<div class="form-group" id="password-group">
						<input type="text" class="form-control" placeholder="To Amount" pattern="^([-+,0-9.]+)"
							th:value="${fromAmount}" name="toAmount" />
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-sign-in-alt"></i>Submit
					</button>
				</form>
				<form id="logoutForm" method="POST" th:action="@{/logout}">
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-sign-out-alt"></i>LogOut
					</button>
				</form>
				<div th:if="${param.error}" class="alert alert-danger" role="alert">
					Invalid username and password.</div>
				<div th:if="${param.logout}" class="alert alert-success"
					role="alert">You have been logged out.</div>
			</div>
		</div>
	</div>
</body>
</html>